
@media print {
    body{
        margin-left: -30px;
        margin-right: -30px;
    }
    .hide-on-print{
        display: none;
    }

  
    .print_page{
        min-width: 1100px;
        max-width: 1000px;
        margin-right:10px;
        margin-left: 0px;
        clear:both;
         border: white !important;

    }


    .print-page{
        margin-top: 0px !important;
        clear:both;
        padding: 0px !important;
        margin: 0px !important;
        display: block !important;
    }

    .break-page{
        page-break-after:always;
    }
    .print-head{
        display: block !important;
        clear:both;
    }

    .portlet-body{
   	 border:2px solid white;
   }
   h3{
   	font-size: 20px;
   }

   p{
   	 font-size: 10px;
   }
  
    div {
  	margin-top:-5px;
  }
  hr{
  	display:none;
  }

  .box{
  	
  	margin-bottom:100px;
  }

}