@media print {
    body{
        margin-left: -30px;
        margin-right: -30px;
    }
    .hide-on-print{
        display: none;
    }
    .print-page{
        margin-top: 0px !important;
        clear:both;
        padding: 0px !important;
        margin: 0px !important;
        display: block !important;
    }
    .break-page{
        page-break-after:always;
    }
    .print-head{
        display: block !important;
        clear:both;
    }


    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
        /*margin-left: -30px;*/
        /*margin-right:30px;*/
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }



}
