.emerald-bg {
    background-color: #3fcfbb !important;
    /*2fb2a0*/
}

.red-bg {
    background-color: #fe635f !important;
    /*dd504c*/
}

.yellow-bg {
    background-color: #f1c40f !important;
    /*d5ac08*/
}

.green-bg {
    background-color: #8dc859 !important;
    /*77ab49*/
}

.purple-bg {
    background-color: #8f44ad !important;
}

.gray-bg {
    background-color: #7e8c8d !important;
    /*626f70*/
}

.emerald {
    color: #3fcfbb !important;
}

/*.red {*/
    /*color: #fe635f !important;*/
/*}*/

/*.yellow {*/
    /*color: #f1c40f !important;*/
/*}*/

/*.green {*/
    /*color: #8dc859 !important;*/
/*}*/

/*.purple {*/
    /*color: #8f44ad !important;*/
/*}*/

/*.gray {*/
    /*color: #7e8c8d !important;*/
/*}*/

.status-green {
    color: #005826;
}

.status-red {
    color: #9e0b0f;
}

.txt-white {
    color: #fff !important;
}

.txt-white-hover:hover {
    color: #fff !important;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
    padding-left: 8px;
}

.top-page-ui {
    padding-top: 15px
}


/* BUTTONS */

.btn {
    /*border: none;*/
    /*padding: 6px 12px;*/
    /*border-bottom: 4px solid;*/
    /*-webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;*/
    /*transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;*/
    /*outline: none;*/
}

/*.btn-default,*/
/*.wizard-cancel,*/
/*.wizard-back {*/
    /*background-color: #7e8c8d;*/
    /*border-color: #626f70;*/
    /*color: #fff;*/
/*}*/

/*.btn-default:hover,*/
/*.btn-default:focus,*/
/*.btn-default:active,*/
/*.btn-default.active,*/
/*.open .dropdown-toggle.btn-default,*/
/*.wizard-cancel:hover,*/
/*.wizard-cancel:focus,*/
/*.wizard-cancel:active,*/
/*.wizard-cancel.active,*/
/*.wizard-back:hover,*/
/*.wizard-back:focus,*/
/*.wizard-back:active,*/
/*.wizard-back.active {*/
    /*background-color: #949e9f;*/
    /*border-color: #748182;*/
    /*color: #fff;*/
/*}*/

/*.btn-default .caret {*/
    /*border-top-color: #FFFFFF;*/
/*}*/

/*.btn-info {*/
    /*background-color: #5daee7;*/
    /*border-color: #4c95c9;*/
/*}*/

/*.btn-info:hover,*/
/*.btn-info:focus,*/
/*.btn-info:active,*/
/*.btn-info.active,*/
/*.open .dropdown-toggle.btn-info {*/
    /*background-color: #4c95c9;*/
    /*border-color: #3f80af;*/
/*}*/

/*.btn-link {*/
    /*border: none;*/
/*}*/

/*.btn-primary {*/
    /*background-color: #3fcfbb;*/
    /*border-color: #2fb2a0;*/
/*}*/

/*.btn-primary:hover,*/
/*.btn-primary:focus,*/
/*.btn-primary:active,*/
/*.btn-primary.active,*/
/*.open .dropdown-toggle.btn-primary {*/
    /*background-color: #38c2af;*/
    /*border-color: #2aa493;*/
/*}*/

/*!*.btn-success {*!*/
    /*!*background-color: #8dc859;*!*/
    /*!*border-color: #77ab49;*!*/
/*!*}*!*/

/*.btn-success:hover,*/
/*.btn-success:focus,*/
/*.btn-success:active,*/
/*.btn-success.active,*/
/*.open .dropdown-toggle.btn-success {*/
    /*background-color: #77ab49;*/
/*}*/

/*.btn-danger {*/
    /*background-color: #fe635f;*/
    /*border-color: #dd504c;*/
/*}*/

/*.btn-danger:hover,*/
/*.btn-danger:focus,*/
/*.btn-danger:active,*/
/*.btn-danger.active,*/
/*.open .dropdown-toggle.btn-danger {*/
    /*background-color: #dd504c;*/
/*}*/

/*.btn-warning {*/
    /*background-color: #f1c40f;*/
    /*border-color: #d5ac08;*/
/*}*/

/*.btn-warning:hover,*/
/*.btn-warning:focus,*/
/*.btn-warning:active,*/
/*.btn-warning.active,*/
/*.open .dropdown-toggle.btn-warning {*/
    /*background-color: #e0b50a;*/
    /*border-color: #bd9804;*/
/*}*/

/*.icon-box {}*/

/*.icon-box .btn {*/
    /*border: 1px solid #e1e1e1;*/
    /*margin-left: 3px;*/
    /*margin-right: 0;*/
/*}*/

/*.icon-box .btn:hover {*/
    /*background-color: #eee;*/
    /*color: #2BB6A3;*/
/*}*/


/* LABELS */

.label {
    border-radius: 0 0 0 0;
    font-size: 0.875em;
    font-weight: 400;
}

.label-default,
.fc-event.label-default {
    background-color: #7e8c8d;
}

.label-primary,
.fc-event.label-primary {
    background-color: #2bb6a3;
}

.label-success,
.fc-event.label-success {
    background-color: #8dc859;
}

.label-info,
.fc-event.label-info {
    background-color: #8f44ad;
    /*#2b9db6;*/
}

.label-warning,
.fc-event.label-warning {
    background-color: #f1c40f;
}

.label-danger,
.fc-event.label-danger {
    background-color: #fe635f;
}

.label.label-large {
    font-size: 1em;
    padding: 0.4em 0.8em 0.5em;
}

#calendar .fc-event,
.external-event {
    border-left: 4px solid #209081;
}

#calendar .fc-event.label-success,
.external-event.label-success {
    border-left: 4px solid #77AB49;
}

#calendar .fc-event.label-warning,
.external-event.label-warning {
    border-left: 4px solid #D5AC08;
}

#calendar .fc-event.label-danger,
.external-event.label-danger {
    border-left: 4px solid #DD504C;
}

#calendar .fc-event.label-info,
.external-event.label-info {
    border-left: 4px solid #65287e;
}

#calendar .fc-event.label-default,
.external-event.label-default {
    border-left: 4px solid #626F70;
}

@media only screen and (max-width: 440px) {
    #calendar .fc-header-right,
    #calendar .fc-button-today,
    #calendar .fc-header-space {
        display: none;
    }
}


/* ALERTS */

.alert {
    border-radius: 0;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 0 4px;
}

.alert-success {
    border-color: #77AB49;
}

.alert-warning {
    border-color: #D5AC08;
}

.alert-danger {
    border-color: #DD504C;
}

.alert-info {
    background-color: #e9fdfb;
    border-color: #c6eae6;
    color: #2BB6A3;
}

.alert-info .alert-link {
    color: #209081;
}


/* PAGINATION */

.pagination {
    margin: 5px 0;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}

.pagination>li>a,
.pagination>li>span,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus,
.pagination>li>a:active,
.pagination>li>span:active {
    color: #2BB6A3;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #2BB6A3;
    border-color: #2BB6A3;
}

.pager li>a,
.pager li>span {
    border-radius: 0;
}


/* ITEMS */

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background-color: #2BB6A3;
    border-color: #2BB6A3;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}


/* BADGES */

.badge.badge-danger {
    background-color: #fe635f;
}

.badge.badge-success {
    background-color: #8DC859;
}

.badge.badge-warning {
    background-color: #F1C40F;
}

.badge.badge-primary {
    background-color: #2BB6A3;
}

.badge.badge-info {
    background-color: #8F44AD;
}


/* TABS */

.nav-tabs>li>a {
    border-radius: 0;
    outline: none;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    border-color: #eee;
}

.nav .caret {
    border-bottom-color: #2BB6A3;
    border-top-color: #2BB6A3;
}


/* PANEL */

.panel-default>.panel-heading {
    background-color: #2BB6A3;
    border-color: #2BB6A3;
    color: #FFFFFF;
    border-radius: 0;
}

.panel-group .panel {
    border-radius: 0;
    border: 0 none;
}

.panel-collapse {
    border: 1px solid #e1e1e1;
    border-top: 0;
}

.accordion .panel-title>a {
    display: block;
    position: relative;
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 15px;
}

.accordion .panel-title>a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.accordion .panel-title>a:after {
    content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: -5px;
    font-size: 0.75em;
    position: absolute;
    right: 0;
    top: 50%;
}

.accordion .panel-title>a.accordion-toggle.collapsed:after {
    content: "\f067";
}

.accordion .panel-title>a.accordion-toggle>i {
    width: 24px;
    text-align: center;
    padding-right: 6px;
}


/* TABLES */

.table {
    border-collapse: separate;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #eee;
}

.table thead>tr>th {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.table tbody>tr>td {
    font-size: 0.875em;
    background: #f5f5f5;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
}

.table tbody>tr>td:first-child,
.table thead>tr>th:first-child {
    padding-left: 20px;
}

.table thead>tr>th span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.table thead>tr>th>a span {
    color: #344644;
}

.table thead>tr>th>a span:after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    font-size: 0.75em;
}

.table thead>tr>th>a.asc span:after {
    content: "\f0dd";
}

.table thead>tr>th>a.desc span:after {
    content: "\f0de";
}

.table thead>tr>th>a:hover span {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}

.table.table-hover tbody>tr>td {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
}

.table tbody tr td .call-type {
    display: block;
    font-size: 0.75em;
    text-align: center;
}

.table tbody tr td .first-line {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
}

.table tbody tr td .first-line span {
    font-size: 0.875em;
    color: #969696;
    font-weight: 300;
}

.table tbody tr td .second-line {
    font-size: 0.875em;
    line-height: 1.2;
}

.table a.table-link {
    margin: 0 5px;
    font-size: 1.125em;
    color: #1caf9a;
}

.table a.table-link:hover {
    text-decoration: none;
    color: #2aa493;
}

.table a.table-link.danger {
    color: #fe635f;
}

.table a.table-link.danger:hover {
    color: #dd504c;
}

.table-products tbody>tr>td {
    background: none;
    border: none;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    position: relative;
}

.table-products tbody>tr:hover>td {
    text-decoration: none;
    background-color: #f6f6f6;
}

.table-products .name {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}

.table-products .price {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.table-products .price>i {
    color: #8dc859;
}

.table-products .warranty {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.table-products .warranty>i {
    color: #f1c40f;
}

.table tbody>tr.table-line-fb>td {
    background-color: #9daccb;
    color: #262525;
}

.table tbody>tr.table-line-twitter>td {
    background-color: #9fccff;
    color: #262525;
}

.table tbody>tr.table-line-plus>td {
    background-color: #eea59c;
    color: #262525;
}

.table-stats .status-social-icon {
    font-size: 1.9em;
    vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon {
    color: #556484;
}

.table-stats .table-line-twitter .status-social-icon {
    color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon {
    color: #a75d54;
}

.daterange-filter {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    padding: 5px 10px;
}

.filter-block .form-group {
    margin-right: 10px;
    position: relative;
}

.filter-block .form-group .form-control {
    height: 36px;
}

.filter-block .form-group .search-icon {
    position: absolute;
    color: #707070;
    right: 8px;
    top: 11px;
}

.filter-block .btn {
    margin-left: 5px;
}

@media only screen and (max-width: 440px) {
    .filter-block {
        float: none !important;
        clear: both
    }
    .filter-block .form-group {
        float: none !important;
        margin-right: 0;
    }
    .filter-block .btn {
        display: block;
        float: none !important;
        margin-bottom: 15px;
        margin-left: 0;
    }
    #reportrange {
        clear: both;
        float: none !important;
        margin-bottom: 15px;
    }
}


/* USER LIST TABLE */

.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
    color: #1caf9a;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}


/* FORMS */

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: 400;
    font-size: 0.875em;
}

.form-control {
    border-radius: 0px;
    border-color: #e1e1e1;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control:focus {
    border-color: #2bb6a3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(43, 182, 163, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(43, 182, 163, 0.6);
}

.form-inline-box {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #E1E1E1;
    padding: 7px;
}

.has-success .form-control {
    border-color: #8DC859;
}

.has-success .help-block,
.has-success .control-label {
    color: #77AB49;
}

.has-success .form-control:focus {
    border-color: #77AB49;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #77AB49;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #77AB49;
}

.has-success .input-group-addon {
    color: #8DC859;
    background-color: #dff0d8;
    border-color: #8DC859;
}

.has-warning .form-control {
    border-color: #F1C40F;
}

.has-warning .help-block,
.has-warning .control-label {
    color: #D5AC08;
}

.has-warning .form-control:focus {
    border-color: #D5AC08;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D5AC08;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D5AC08;
}

.has-warning .input-group-addon {
    color: #F1C40F;
    background-color: #fcf8e3;
    border-color: #F1C40F;
}

.has-error .form-control {
    border-color: #FE635F;
}

.has-error .help-block,
.has-error .control-label {
    color: #DD504C;
}

.has-error .form-control:focus {
    border-color: #DD504C;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #DD504C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #DD504C;
}

.has-error .input-group-addon {
    color: #FE635F;
    background-color: #f2dede;
    border-color: #FE635F;
}

.input-group>.form-control,
.input-group>.input-group-addon,
.input-group>.input-group-btn>.btn {
    border-radius: 0;
    line-height: 1;
}

.input-group>.input-group-btn>.btn {
    border: 0;
    height: 34px;
}

.input-group-addon {
    background: transparent;
    border-color: #e1e1e1;
}

.dropdown-menu {
    border-radius: 0;
}

.help-block {
    font-size: 0.875em;
}

.checkbox-inline>input {
    margin-top: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: #2BB6A3;
}

.bootstrap-timepicker-widget table td input {
    border: 1px solid #ccc;
    width: 30px !important;
    height: 30px;
}

.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input,
.bootstrap-timepicker-widget table td a:hover {
    border-radius: 0 !important;
}

.form-group-select2 label {
    display: block;
}

.select2-results .select2-result-label {
    font-size: 0.875em;
}

.select2-container .select2-choice {
    font-size: 0.875em;
}

.select2-container.select2-container-multi .select2-choices .select2-search-field input {
    font-size: 0.875em;
    background-color: #FFFFFF;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}

.select2-container.select2-container-multi .select2-choices {
    border-color: #ccc;
}

.select2-container.select2-container-multi .select2-choices .select2-search-choice {
    line-height: 22px;
    background: #c2f5ef;
    border-radius: 0;
    border-color: #ccc;
    color: #707070;
    font-size: 0.875em;
}

.select2-container.select2-container-multi .select2-search-choice-close {
    top: 8px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border-color: #2BB6A3;
}

.select2-container .select2-choice {
    border-radius: 0 !important;
    background: #fff !important;
    border-color: #E1E1E1 !important;
    height: 34px !important;
    line-height: 34px !important;
}

.select2-container .select2-choice .select2-arrow {
    border-radius: 0 !important;
    background: #eee !important;
    border-color: #E1E1E1 !important;
    width: 24px !important;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 3px 4px !important;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border-color: rgba(0, 0, 0, 0) #2BB6A3 #2BB6A3 !important;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #2BB6A3 !important;
}

.select2-drop-active {
    border-color: #2BB6A3 #2BB6A3 !important;
}

.tt-query {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.wysiwyg-editor {
    max-height: 250px;
    height: 250px;
    background-color: #fff;
    border-collapse: separate;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    overflow: scroll;
    outline: none;
}

.btn-toolbar.editor-toolbar {
    margin-bottom: 7px;
}

.checkbox-nice {
    position: relative;
    padding-left: 15px;
}

.checkbox-nice input[type=checkbox] {
    visibility: hidden;
}

.checkbox-nice label:before {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1px;
    top: 1px;
    background: #ffffff;
    content: "";
    border: 1px solid #e1e1e1;
}

.checkbox-nice label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 7px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 3px solid #2bb6a3;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-nice label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.checkbox-nice input[type=checkbox]:checked+label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}


/* FORM ON/OFF SWITCH */

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-right: 20px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34D1BE;
    color: #FFFFFF;
}

.onoffswitch.onoffswitch-success .onoffswitch-inner:before {
    background-color: #8dc859;
}

.onoffswitch.onoffswitch-danger .onoffswitch-inner:before {
    background-color: #fe635f;
}

.onoffswitch.onoffswitch-warning .onoffswitch-inner:before {
    background-color: #f1c40f;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/* INFOGRAPHIC BOX */

.infographic-box i {
    font-size: 2.9em;
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    width: 40px;
    text-align: center;
}

.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}

.infographic-box .value {
    font-size: 2.1em;
    font-weight: 600;
    margin-top: -5px;
    display: block;
}

.infographic-box i.red {
    color: #fe635f;
}

.infographic-box i.emerald {
    color: #2bb6a3;
}

.infographic-box i.green {
    color: #8dc859;
}

.infographic-box i.yellow {
    color: #f1c40f;
}


/* GALLERY */

#gallery-photos-wrapper {
    position: relative;
}

#gallery-photos {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#gallery-photos li {
    float: left;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    overflow: hidden;
    position: relative;
}

#gallery-photos li .photo-box {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #eee;
    border: 1px solid #c6c6c6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: move;
    min-width: 100px;
    min-height: 100px;
    padding-top: 98%;
}

#gallery-photos .remove-photo-link {
    cursor: pointer;
    display: none;
    left: 50%;
    margin-left: -28px;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -28px;
}

#gallery-photos li .remove-photo-link .icon-stack {
    font-size: 2em;
}

#gallery-photos li:hover .photo-box:after {
    background: rgba(63, 207, 187, 0.35);
    position: absolute;
    content: "";
    top: 0;
    right: 8px;
    bottom: 0;
    left: 8px;
}

#gallery-photos li:hover .remove-photo-link {
    display: block;
}


/* NESTABLE LIST */

.dd {
    position: relative;
    display: block;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle-list {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #E1E1E1;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1em;
    color: #000000;
    text-align: center;
    border: 1px solid #E1E1E1;
    padding-top: 4px;
}

.dd-handle {
    background: none repeat scroll 0 0 #F6F6F8;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    color: #000000;
    display: block;
    font-size: 0.875em;
    font-weight: 700;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-handle:hover {
    color: #2bb6a3;
    background: #fff;
}

.dd-handle .nested-links {
    float: right;
}

.dd-handle .nested-links .nested-link {
    margin: 0 2px;
}

.dd-handle .nested-links .nested-link:last-child {
    margin-right: 0;
}

.dd-handle .nested-links .nested-link i {
    font-size: 1.25em;
}

.dd-item-list .dd-handle {
    padding-left: 40px;
}

.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item>button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item>button[data-action="collapse"]:before {
    content: '-';
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
}

.nestable-lists .dd-placeholder {
    background: #E9FDFB;
    border-color: #2FB2A0;
}


/* #nestable2 .dd-handle {
	color: #fff;
	border: 1px solid #999;
	background: #bbb;
	background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
	background:	-moz-linear-gradient(top, #bbb 0%, #999 100%);
	background:		 linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { 
	background: #bbb; 
}
#nestable2 .dd-item > button:before { 
	color: #fff; 
} */

@media only screen and (min-width: 700px) {
    .dd {
        float: left;
        width: 48%;
    }
    .dd+.dd {
        margin-left: 2%;
    }
}

.dd-hover>.dd-handle {
    background: #2ea8e5 !important;
}


/* SLIDER */

.slider-vertical {
    height: 200px;
    float: left;
    margin-right: 20px;
}


/* AUTOCOMPLETE */

.typeahead,
.tt-query,
.tt-hint {
    width: 400px;
}

.twitter-typeahead {
    display: block !important;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
    padding-top: 5px;
    padding-left: 11px;
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 1em;
    line-height: 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #34D1BE;
}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 12px;
}


/* example specific styles */

.example-twitter-oss .tt-suggestion {
    padding: 8px 20px;
}

.example-twitter-oss .tt-suggestion+.tt-suggestion {
    border-top: 1px solid #ccc;
}

.example-twitter-oss .repo-language {
    float: right;
    font-style: italic;
    font-size: 12px;
}

.example-twitter-oss .repo-name {
    font-weight: bold;
}

.example-twitter-oss .repo-description {
    font-size: 12px;
}

@media only screen and (max-width: 480px) {
    .typeahead,
    .tt-query,
    .tt-hint {
        width: 100%;
    }
    .tt-dropdown-menu {
        width: 100%;
    }
}


/* PASSWORD METER */

#pwindicator {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 150px;
}

.pwdindicator .bar {
    height: 4px;
}

.pwdindicator .pwdstrength-label {}

.pwdindicator.pw-very-weak .bar {
    background: #fb241f;
    width: 30px;
}

.pwdindicator.pw-very-weak .pwdstrength-label {
    color: #fb241f;
}

.pwdindicator.pw-weak .bar {
    background: #fe635f;
    width: 60px;
}

.pwdindicator.pw-weak .pwdstrength-label {
    color: #fe635f;
}

.pwdindicator.pw-mediocre .bar {
    background: #f1c40f;
    width: 90px;
}

.pwdindicator.pw-mediocre .pwdstrength-label {
    color: #f1c40f;
}

.pwdindicator.pw-strong .bar {
    background: #f3b31a;
    width: 120px;
}

.pwdindicator.pw-strong .pwdstrength-label {
    color: #f3b31a;
}

.pwdindicator.pw-very-strong .bar {
    background: #8dc859;
    width: 150px;
}

.pwdindicator.pw-very-strong .pwdstrength-label {
    color: #8dc859;
}


/* LOGIN PAGE */

#login-page,
#login-page-full {
    background-color: #eee;
}

#login-box {
    background: #fff;
    max-width: 450px;
    min-width: 280px;
    border: 1px solid #e1e1e1;
    border-bottom-width: 5px;
    margin: 60px auto 20px;
}

#login-box #login-box-header {
    height: 5px;
}

#login-box #login-box-header>div {
    height: 100%;
    width: 16.6667%;
    float: left;
}

#login-box #login-box-header .login-box-header-red {
    background: #fe635f;
}

#login-box #login-box-header .login-box-header-green {
    background: #8dc859;
}

#login-box #login-box-header .login-box-header-yellow {
    background: #f1c40f;
}

#login-box #login-box-header .login-box-header-purple {
    background: #8f44ad;
}

#login-box #login-box-header .login-box-header-blue {
    background: #5de7d7;
}

#login-box #login-box-header .login-box-header-gray {
    background: #7e8c8d;
}

#login-box-inner {
    padding: 50px 42px;
}

#login-logo {
    display: block;
    margin: 30px auto 60px;
    text-align: center;
    font-size: 2.1em;
    font-weight: 600;
}

#login-box .input-group {
    margin-bottom: 10px;
}

#login-box .input-group input {
    font-weight: 300;
}

#login-box .input-group .input-group-addon {
    padding-left: 0;
    padding-right: 0;
    min-width: 50px;
}

#login-box .input-group .input-group-addon i {
    color: #efefef;
}

#login-box #login-forget-link {
    display: block;
}

#login-box .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.125em;
}

#login-box-inner .input-group>.form-control,
#login-box-inner .input-group>.input-group-addon {
    height: 46px;
    padding-top: 0;
    padding-bottom: 0;
}

#login-box-inner .input-group>.input-group-addon {
    height: 44px;
}

@media only screen and (max-width: 768px) {
    #login-box {
        margin-top: 20px;
    }
    #login-logo {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    #login-box #login-forget-link {
        text-align: center;
        margin-top: 20px;
    }
    #login-box-inner {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#login-page .login-create,
#login-page-full .login-create {
    margin-bottom: 20px;
}

#login-page-full .container {
    max-width: 1440px;
    margin: 0 auto;
}

#login-page-full .login-full-create {
    margin-right: 20px;
    line-height: 50px;
}

#login-full-left {
    margin-top: 50px;
    margin-bottom: 20px;
}

#login-full-left h1 {
    text-align: center;
    color: #363636;
    font-weight: 600;
    margin-bottom: 40px;
}

#login-full-left h2 {
    text-align: center;
    margin-top: 30px;
}

#login-full-left p.login-full-devices {
    margin-top: 30px;
}

#login-full-left .login-full-features {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#login-full-left .login-full-features>li {
    display: inline-block;
    margin: 0 8px;
}

#login-full-left .login-full-features>li>i {
    display: block;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 4px;
}

#login-full-left .login-full-features>li>span {
    display: block;
    text-align: center;
    font-size: 0.845em;
    line-height: 1.2;
}


/* PROGRESS BAR */

.progress {
    background-color: #eee;
    border-radius: 0;
    height: 8px;
    margin-bottom: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar {
    background-color: #5de7d7;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar-success {
    background-color: #8dc859;
}

.progress-bar-info {
    background-color: #8f44ad;
}

.progress-bar-warning {
    background-color: #f1c40f;
}

.progress-bar-danger {
    background-color: #fe635f;
}

.progress.progress-2x {
    height: 12px;
}

.progress.progress-3x {
    height: 16px;
}

.progress.progress-4x {
    height: 20px;
}


/* POPOVER */

.popover {
    border: 1px solid #1BBC9B;
}

.popover.right .arrow {
    border-right-color: #1BBC9B;
}

.popover.left .arrow {
    border-left-color: #1BBC9B;
}

.popover.bottom .arrow {
    border-bottom-color: #1BBC9B;
}

.popover.top .arrow {
    border-top-color: #1BBC9B;
}

.popover-content {
    font-size: 0.875em;
}


/* MODAL */

.modal-content {
    border-radius: 0;
}


/* ERROR PAGE */

#error-page {
    background-color: #eeeeee;
}

#error-box {
    min-width: 280px;
    text-align: center;
    margin: 40px auto 20px;
}

#error-box h1 {
    margin-top: 40px;
    color: #605f5f;
    padding: 0;
}

#error-box p {
    margin: 20px 0;
}


/* DATEPICKER */

.datepicker,
.daterangepicker,
.daterangepicker .calendar-date {
    border-radius: 0 !important;
}

.daterangepicker .ranges .input-mini {
    border-radius: 0 !important;
}

.datepicker td,
.datepicker th,
.daterangepicker td,
.daterangepicker th {
    border-radius: 0 !important;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled.disabled:hover,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active[disabled]:hover,
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled[disabled]:hover {
    background: #2BB6A3 !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background: #2BB6A3 !important;
}

.daterangepicker td.in-range {
    background: #dff9f5 !important;
}

.daterangepicker .ranges li {
    border-radius: 0 !important;
    color: #2BB6A3 !important;
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background-color: #2BB6A3 !important;
    border-color: #2BB6A3 !important;
    color: #fff !important;
}

.daterangepicker .range_inputs button.applyBtn {
    min-width: 74px;
    margin-right: 7px;
}

.daterangepicker .range_inputs button.cancelBtn {
    min-width: 74px;
}


/* CONVERSATION */

.conversation-inner {
    padding: 0 0 5px 0;
    margin-right: 10px;
}

.conversation-item {
    padding: 5px 0;
    position: relative;
}

.conversation-user {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
    margin-top: 6px;
}

.conversation-body {
    background: #f5f5f5;
    font-size: 0.875em;
    width: auto;
    margin-left: 60px;
    padding: 8px 10px;
    position: relative;
}

.conversation-body:before {
    border-color: transparent #f5f5f5 transparent transparent;
    border-style: solid;
    border-width: 6px;
    content: "";
    cursor: pointer;
    left: -12px;
    position: absolute;
    top: 25px;
}

.conversation-item.item-right .conversation-body {
    background: #dcfffa;
}

.conversation-item.item-right .conversation-body:before {
    border-color: transparent transparent transparent #dcfffa;
    left: auto;
    right: -12px;
}

.conversation-item.item-right .conversation-user {
    float: right;
}

.conversation-item.item-right .conversation-body {
    margin-left: 0;
    margin-right: 60px;
}

.conversation-body>.name {
    font-weight: 600;
    font-size: 1.125em;
}

.conversation-body>.time {
    position: absolute;
    font-size: 0.875em;
    right: 10px;
    top: 0;
    margin-top: 10px;
    color: #605f5f;
    font-weight: 300;
}

.conversation-body>.time:before {
    content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: 4px;
    font-size: 0.875em;
}

.conversation-body>.text {
    padding-top: 6px;
}

.conversation-new-message {
    padding-top: 10px;
}


/* RECENT - USERS */

.widget-users {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-users li {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0;
    height: 96px;
}

.widget-users li>.img {
    float: left;
    margin-top: 8px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.widget-users li>.details {
    margin-left: 60px;
}

.widget-users li>.details>.name {
    font-weight: 600;
}

.widget-users li>.details>.name>a {
    color: #344644;
}

.widget-users li>.details>.name>a:hover {
    color: #2bb6a3;
}

.widget-users li>.details>.time {
    color: #2bb6a3;
    font-size: 0.75em;
    padding-bottom: 7px;
}

.widget-users li>.details>.time.online {
    color: #8dc859;
}


/* RECENT - PRODUCTS */

.widget-products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-products li {
    border-bottom: 1px solid #ebebeb;
}

.widget-products li>a {
    height: 88px;
    display: block;
    width: 100%;
    color: #344644;
    padding: 3px 10px;
    position: relative;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}

.widget-products li>a:after {
    content: "\f138";
    font-family: FontAwesome;
    font-size: 0.875em;
    font-style: normal;
    font-weight: normal;
    margin-top: 32px;
    position: absolute;
    right: 10px;
    text-decoration: inherit;
    top: 0;
    color: #cccccc;
    font-size: 1.3em;
}

.widget-products li>a:hover {
    text-decoration: none;
    background-color: #f6f6f6;
}

.widget-products li .img {
    display: block;
    float: left;
    text-align: center;
    width: 70px;
    height: 68px;
    overflow: hidden;
    margin-top: 7px;
}

.widget-products li .product {
    display: block;
    margin-left: 90px;
    margin-top: 19px;
}

.widget-products li .product>.name {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}

.widget-products li .product>.price {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.widget-products li .product>.price>i {
    color: #8dc859;
}

.widget-products li .product>.warranty {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.widget-products li .product>.warranty>i {
    color: #f1c40f;
}

@media only screen and (max-width: 440px) {
    .widget-products li>a {
        height: auto;
        padding-bottom: 10px;
    }
    .widget-products li .product>.price {
        width: 100%;
    }
    .widget-products li .product>.warranty {
        clear: both;
        width: 100%;
    }
    .widget-products li>a:after {
        display: none;
    }
}


/* RECENT - TODO */

.widget-todo {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-todo>li {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 5px;
}

.widget-todo>li:hover {
    background-color: #f6f6f6;
}

.widget-todo .name {
    float: left;
}

.widget-todo .name span.label {
    margin-left: 5px;
}

.widget-todo>li input:checked+label {
    text-decoration: line-through;
}

.widget-todo .actions {
    float: right;
    padding-right: 5px;
    padding-top: 2px;
}

.widget-todo .actions>a {
    margin: 0 2px;
    color: #707070;
}

.widget-todo .actions>a.badge {
    color: #fff;
}

.widget-todo .actions>a:hover {
    text-decoration: none;
    color: #2BB6A3;
}

.widget-todo .actions>a.badge:hover {
    background-color: #fff;
}

.widget-todo .actions>a>i {
    font-size: 1.125em;
}


/* CHART SMALL */

.dashboard-stats {
    margin: 20px -20px -20px;
}

.chart-small {
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    outline: none;
    padding: 15px 0;
    display: block;
    text-decoration: none;
    color: #344644;
    -webkit-transition: background-color 0.1s ease-in-out 0s;
    transition: background-color 0.1s ease-in-out 0s;
}

.chart-small:last-child,
.chart-small.last {
    border-right: 0;
}

.chart-small:hover {
    background-color: #f9f9f9;
    text-decoration: none;
    color: #344644;
}

.chart-small .headline {
    font-weight: 600;
    font-size: 0.75em;
    padding: 0 20px;
    margin-bottom: -5px;
}

.chart-small .value {
    font-weight: 600;
    font-size: 1.9em;
    padding: 0 20px;
}

.chart-small-content {
    max-height: 100px;
    height: 50px;
    padding: 0px;
    margin: 20px 20px 0;
    position: relative;
}

@media (max-width: 768px) {
    .chart-small:nth-child(2) {
        border-right: 0;
    }
}

@media (max-width: 420px) {
    .dashboard-stats {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: -12px;
    }
    .chart-small .value {
        font-size: 1.6em;
    }
}


/* PRICING */

.pricing-package {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-package .pricing-package-inner {
    color: #7d7d7d;
    position: relative;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}

.pricing-package .pricing-star {
    background: url(../../img/pricing-star.png) no-repeat;
    position: absolute;
    width: 39px;
    height: 40px;
    color: #fff;
    font-size: 0.65em;
    text-align: center;
    line-height: 1.1;
    padding-top: 9px;
    right: -10px;
    top: -20px;
}

.pricing-package .package-header {
    background: #3fcfbb;
}

.pricing-package .package-header h3 {
    height: 36px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 2px 0 0;
    border: 0;
    font-size: 1.5em;
}

.pricing-package .package-header .stars {
    color: #fff;
    text-align: center;
    padding-top: 8px;
}

.pricing-package .package-content {
    padding: 0 14px;
    margin: 0;
    border: 1px solid #e1e1e1;
    border-top: 0;
}

.pricing-package .package-content .package-price {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    height: 75px;
    line-height: 75px;
}

.pricing-package .package-content .package-price .package-month {
    font-size: 0.6em;
    font-weight: normal;
}

.pricing-package .package-top-features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pricing-package .package-top-features li {
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    font-size: 1.125em;
    line-height: 1.5;
    padding: 8px 0;
}

.pricing-package .package-top-features li:first-child {
    border-top: 1px solid #ebebeb;
}

.pricing-package .package-features {
    list-style: none;
    margin: 0;
    padding: 15px 0;
    position: relative;
}

.pricing-package .package-features li {
    font-size: 0.875em;
    padding: 4px 0;
    line-height: 1.3;
    color: #cccccc;
    padding-left: 25px;
}

.pricing-package .package-features li.has-feature {
    color: #7d7d7d;
    -webkit-transition: color 0.1s ease-in-out 0s;
    transition: color 0.1s ease-in-out 0s;
}

.pricing-package .package-features li.has-feature:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    text-decoration: inherit;
    color: #8dc859;
    margin-top: -2px;
    position: absolute;
    left: 0;
}

.pricing-package .package-features li.has-nofeature:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    text-decoration: inherit;
    color: #fe635f;
    margin-top: -2px;
    position: absolute;
    left: 0;
}

.pricing-package .package-footer {
    text-align: center;
    padding-top: 16px;
}

.pricing-package .package-footer .btn>span {
    color: #77ab49;
    padding-right: 6px;
    -webkit-transition: color 0.1s ease-in-out 0s;
    transition: color 0.1s ease-in-out 0s;
}

.pricing-package .package-footer .btn:hover>span {
    color: #fff;
}

.pricing-package.simple .package-header h3 {
    font-size: 1.3em;
    padding: 0;
    line-height: 42px;
    height: 42px;
}

.pricing-package.simple .package-content .package-price {
    font-size: 1.8em;
    height: 60px;
    line-height: 60px;
}

.pricing-package.simple .package-top-features li {
    font-size: 0.875em;
}

.pricing-package.simple .package-top-features li:last-child {
    border-bottom: 0;
}

.pricing-package:hover .pricing-package-inner {
    background-color: #f9f9f9;
    color: #344644;
}

.pricing-package:hover .package-features li.has-feature {
    color: #344644;
}


/* INVOICE */

#invoice-companies {
    border: 1px solid #e1e1e1;
    border-left: 0;
    border-right: 0;
    margin: 20px -20px;
}

#invoice-companies .invoice-box {
    border-right: 1px solid #e1e1e1;
    padding: 25px 20px;
    height: 100%;
    min-height: 165px;
}

#invoice-companies .invoice-icon {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    color: #e1e1e1;
    text-align: center;
}

#invoice-companies .invoice-icon>i {
    font-size: 2.4em;
    display: block;
}

#invoice-companies .invoice-company {
    float: left;
}

#invoice-companies .invoice-company h4 {
    font-size: 1.4em;
}

#invoice-companies .invoice-box.invoice-box-dates {
    border-right: 0;
}

#invoice-companies .invoice-dates .invoice-date>strong {
    text-transform: uppercase;
    line-height: 28px;
}

#invoice-companies .invoice-dates .invoice-date>span {
    font-size: 1.3em;
}

#invoice-companies .invoice-dates .invoice-date.invoice-due-date>span {
    font-weight: bold;
}

#invoice-companies .invoice-dates .invoice-number>strong {
    text-transform: uppercase;
    line-height: 48px;
}

#invoice-companies .invoice-dates .invoice-number>span {
    color: #2bb6a3;
    font-size: 1.9em;
}

.invoice-box-total {
    line-height: 1.8;
    border: 1px solid #e1e1e1;
    border-right: 0;
    border-left: 0;
    padding: 20px 0;
}

.invoice-box-total .invoice-box-total-label {
    font-size: 1.125em;
}

.invoice-box-total .invoice-box-total-value {
    font-size: 1.125em;
}

.invoice-box-total .grand-total {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
}

.invoice-summary {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -3px;
    margin-right: -3px;
}

.invoice-summary>div {
    padding-left: 3px;
    padding-right: 3px;
}

.invoice-summary .invoice-summary-item {
    background: #dcfffa;
    text-align: center;
    padding: 10px 0;
    margin-top: 3px;
    margin-bottom: 3px;
}

.invoice-summary .invoice-summary-item>span {
    font-size: 0.75em;
}

.invoice-summary .invoice-summary-item>div {
    font-size: 1.125em;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #invoice-companies .invoice-dates {
        padding-top: 15px;
    }
    #invoice-companies .invoice-dates .invoice-number>span {
        font-size: 1.4em;
    }
    #invoice-companies .invoice-dates .invoice-number>strong {
        font-size: 0.875em;
        line-height: 33px;
    }
    #invoice-companies .invoice-dates .invoice-date>span {
        font-size: 1.1em;
    }
    #invoice-companies .invoice-dates .invoice-date>strong {
        font-size: 0.875em;
        line-height: 22px;
    }
}

@media only screen and (max-width: 767px) {
    #invoice-companies .invoice-box {
        border-bottom: 1px solid #e1e1e1;
        border-right: 0;
        border-left: 0;
    }
    #invoice-companies .invoice-box.invoice-box-dates {
        border-bottom: 0;
    }
    .invoice-summary .invoice-summary-item {}
}

@media (max-width: 420px) {
    #invoice-companies {
        margin-left: -10px;
        margin-right: -10px;
    }
}


/* USER PROFILE */

#user-profile h2 {
    padding-right: 15px;
}

#user-profile .profile-status {
    font-size: 0.75em;
    padding-left: 12px;
    margin-top: -10px;
    padding-bottom: 10px;
    color: #8dc859;
}

#user-profile .profile-status.offline {
    color: #fe635f;
}

#user-profile .profile-img {
    border: 1px solid #e1e1e1;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user-profile .profile-label {
    text-align: center;
    padding: 5px 0;
}

#user-profile .profile-label .label {
    padding: 5px 15px;
    font-size: 1em;
}

#user-profile .profile-stars {
    color: #FABA03;
    padding: 7px 0;
    text-align: center;
}

#user-profile .profile-stars>i {
    margin-left: -2px;
}

#user-profile .profile-since {
    text-align: center;
    margin-top: -5px;
}

#user-profile .profile-details {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 15px 0;
}

#user-profile .profile-details ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
}

#user-profile .profile-details ul>li {
    margin: 3px 0;
    line-height: 1.5;
}

#user-profile .profile-details ul>li>i {
    padding-top: 2px;
}

#user-profile .profile-details ul>li>span {
    color: #34d1be;
}

#user-profile .profile-header {
    position: relative;
}

#user-profile .profile-header>h3 {
    margin-top: 10px
}

#user-profile .profile-header .edit-profile {
    margin-top: -6px;
    position: absolute;
    right: 0;
    top: 0;
}

#user-profile .profile-tabs {
    margin-top: 30px;
}

#user-profile .profile-user-info {
    padding-bottom: 20px;
}

#user-profile .profile-user-info .profile-user-details {
    position: relative;
    padding: 4px 0;
}

#user-profile .profile-user-info .profile-user-details .profile-user-details-label {
    width: 110px;
    float: left;
    bottom: 0;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 110px;
    padding-top: 4px;
}

#user-profile .profile-user-info .profile-user-details .profile-user-details-value {
    margin-left: 120px;
}

#user-profile .profile-social li {
    padding: 4px 0;
}

#user-profile .profile-social li>i {
    padding-top: 6px;
}

@media only screen and (max-width: 767px) {
    #user-profile .profile-user-info .profile-user-details .profile-user-details-label {
        float: none;
        position: relative;
        text-align: left;
    }
    #user-profile .profile-user-info .profile-user-details .profile-user-details-value {
        margin-left: 0;
    }
    #user-profile .profile-social {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 420px) {
    #user-profile .profile-header .edit-profile {
        display: block;
        position: relative;
        margin-bottom: 15px;
    }
    #user-profile .profile-message-btn .btn {
        display: block;
    }
}
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
 @font-face {
    font-family: 'FontAwesome';
    src: url('../../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* makes the font 33% larger relative to the icon container */
  .fa-lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .fa-2x {
    font-size: 2em;
  }
  .fa-3x {
    font-size: 3em;
  }
  .fa-4x {
    font-size: 4em;
  }
  .fa-5x {
    font-size: 5em;
  }
  .fa-fw {
    width: 1.2857142857142858em;
    text-align: center;
  }
  .fa-ul {
    padding-left: 0;
    margin-left: 2.142857142857143em;
    list-style-type: none;
  }
  .fa-ul > li {
    position: relative;
  }
  .fa-li {
    position: absolute;
    left: -2.142857142857143em;
    width: 2.142857142857143em;
    top: 0.14285714285714285em;
    text-align: center;
  }
  .fa-li.fa-lg {
    left: -1.8571428571428572em;
  }
  .fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
  }
  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }
  .fa.pull-left {
    margin-right: .3em;
  }
  .fa.pull-right {
    margin-left: .3em;
  }
  .fa-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(359deg);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
    }
  }
  @-o-keyframes spin {
    0% {
      -o-transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(359deg);
    }
  }
  @-ms-keyframes spin {
    0% {
      -ms-transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(359deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
  .fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
  .fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
  }
  .fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
  }
  .fa-stack-1x,
  .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .fa-stack-1x {
    line-height: inherit;
  }
  .fa-stack-2x {
    font-size: 2em;
  }
  .fa-inverse {
    color: #ffffff;
  }
  /* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
     readers do not read off random characters that represent icons */
  .fa-glass:before {
    content: "\f000";
  }
  .fa-music:before {
    content: "\f001";
  }
  .fa-search:before {
    content: "\f002";
  }
  .fa-envelope-o:before {
    content: "\f003";
  }
  .fa-heart:before {
    content: "\f004";
  }
  .fa-star:before {
    content: "\f005";
  }
  .fa-star-o:before {
    content: "\f006";
  }
  .fa-user:before {
    content: "\f007";
  }
  .fa-film:before {
    content: "\f008";
  }
  .fa-th-large:before {
    content: "\f009";
  }
  .fa-th:before {
    content: "\f00a";
  }
  .fa-th-list:before {
    content: "\f00b";
  }
  .fa-check:before {
    content: "\f00c";
  }
  .fa-times:before {
    content: "\f00d";
  }
  .fa-search-plus:before {
    content: "\f00e";
  }
  .fa-search-minus:before {
    content: "\f010";
  }
  .fa-power-off:before {
    content: "\f011";
  }
  .fa-signal:before {
    content: "\f012";
  }
  .fa-gear:before,
  .fa-cog:before {
    content: "\f013";
  }
  .fa-trash-o:before {
    content: "\f014";
  }
  .fa-home:before {
    content: "\f015";
  }
  .fa-file-o:before {
    content: "\f016";
  }
  .fa-clock-o:before {
    content: "\f017";
  }
  .fa-road:before {
    content: "\f018";
  }
  .fa-download:before {
    content: "\f019";
  }
  .fa-arrow-circle-o-down:before {
    content: "\f01a";
  }
  .fa-arrow-circle-o-up:before {
    content: "\f01b";
  }
  .fa-inbox:before {
    content: "\f01c";
  }
  .fa-play-circle-o:before {
    content: "\f01d";
  }
  .fa-rotate-right:before,
  .fa-repeat:before {
    content: "\f01e";
  }
  .fa-refresh:before {
    content: "\f021";
  }
  .fa-list-alt:before {
    content: "\f022";
  }
  .fa-lock:before {
    content: "\f023";
  }
  .fa-flag:before {
    content: "\f024";
  }
  .fa-headphones:before {
    content: "\f025";
  }
  .fa-volume-off:before {
    content: "\f026";
  }
  .fa-volume-down:before {
    content: "\f027";
  }
  .fa-volume-up:before {
    content: "\f028";
  }
  .fa-qrcode:before {
    content: "\f029";
  }
  .fa-barcode:before {
    content: "\f02a";
  }
  .fa-tag:before {
    content: "\f02b";
  }
  .fa-tags:before {
    content: "\f02c";
  }
  .fa-book:before {
    content: "\f02d";
  }
  .fa-bookmark:before {
    content: "\f02e";
  }
  .fa-print:before {
    content: "\f02f";
  }
  .fa-camera:before {
    content: "\f030";
  }
  .fa-font:before {
    content: "\f031";
  }
  .fa-bold:before {
    content: "\f032";
  }
  .fa-italic:before {
    content: "\f033";
  }
  .fa-text-height:before {
    content: "\f034";
  }
  .fa-text-width:before {
    content: "\f035";
  }
  .fa-align-left:before {
    content: "\f036";
  }
  .fa-align-center:before {
    content: "\f037";
  }
  .fa-align-right:before {
    content: "\f038";
  }
  .fa-align-justify:before {
    content: "\f039";
  }
  .fa-list:before {
    content: "\f03a";
  }
  .fa-dedent:before,
  .fa-outdent:before {
    content: "\f03b";
  }
  .fa-indent:before {
    content: "\f03c";
  }
  .fa-video-camera:before {
    content: "\f03d";
  }
  .fa-picture-o:before {
    content: "\f03e";
  }
  .fa-pencil:before {
    content: "\f040";
  }
  .fa-map-marker:before {
    content: "\f041";
  }
  .fa-adjust:before {
    content: "\f042";
  }
  .fa-tint:before {
    content: "\f043";
  }
  .fa-edit:before,
  .fa-pencil-square-o:before {
    content: "\f044";
  }
  .fa-share-square-o:before {
    content: "\f045";
  }
  .fa-check-square-o:before {
    content: "\f046";
  }
  .fa-arrows:before {
    content: "\f047";
  }
  .fa-step-backward:before {
    content: "\f048";
  }
  .fa-fast-backward:before {
    content: "\f049";
  }
  .fa-backward:before {
    content: "\f04a";
  }
  .fa-play:before {
    content: "\f04b";
  }
  .fa-pause:before {
    content: "\f04c";
  }
  .fa-stop:before {
    content: "\f04d";
  }
  .fa-forward:before {
    content: "\f04e";
  }
  .fa-fast-forward:before {
    content: "\f050";
  }
  .fa-step-forward:before {
    content: "\f051";
  }
  .fa-eject:before {
    content: "\f052";
  }
  .fa-chevron-left:before {
    content: "\f053";
  }
  .fa-chevron-right:before {
    content: "\f054";
  }
  .fa-plus-circle:before {
    content: "\f055";
  }
  .fa-minus-circle:before {
    content: "\f056";
  }
  .fa-times-circle:before {
    content: "\f057";
  }
  .fa-check-circle:before {
    content: "\f058";
  }
  .fa-question-circle:before {
    content: "\f059";
  }
  .fa-info-circle:before {
    content: "\f05a";
  }
  .fa-crosshairs:before {
    content: "\f05b";
  }
  .fa-times-circle-o:before {
    content: "\f05c";
  }
  .fa-check-circle-o:before {
    content: "\f05d";
  }
  .fa-ban:before {
    content: "\f05e";
  }
  .fa-arrow-left:before {
    content: "\f060";
  }
  .fa-arrow-right:before {
    content: "\f061";
  }
  .fa-arrow-up:before {
    content: "\f062";
  }
  .fa-arrow-down:before {
    content: "\f063";
  }
  .fa-mail-forward:before,
  .fa-share:before {
    content: "\f064";
  }
  .fa-expand:before {
    content: "\f065";
  }
  .fa-compress:before {
    content: "\f066";
  }
  .fa-plus:before {
    content: "\f067";
  }
  .fa-minus:before {
    content: "\f068";
  }
  .fa-asterisk:before {
    content: "\f069";
  }
  .fa-exclamation-circle:before {
    content: "\f06a";
  }
  .fa-gift:before {
    content: "\f06b";
  }
  .fa-leaf:before {
    content: "\f06c";
  }
  .fa-fire:before {
    content: "\f06d";
  }
  .fa-eye:before {
    content: "\f06e";
  }
  .fa-eye-slash:before {
    content: "\f070";
  }
  .fa-warning:before,
  .fa-exclamation-triangle:before {
    content: "\f071";
  }
  .fa-plane:before {
    content: "\f072";
  }
  .fa-calendar:before {
    content: "\f073";
  }
  .fa-random:before {
    content: "\f074";
  }
  .fa-comment:before {
    content: "\f075";
  }
  .fa-magnet:before {
    content: "\f076";
  }
  .fa-chevron-up:before {
    content: "\f077";
  }
  .fa-chevron-down:before {
    content: "\f078";
  }
  .fa-retweet:before {
    content: "\f079";
  }
  .fa-shopping-cart:before {
    content: "\f07a";
  }
  .fa-folder:before {
    content: "\f07b";
  }
  .fa-folder-open:before {
    content: "\f07c";
  }
  .fa-arrows-v:before {
    content: "\f07d";
  }
  .fa-arrows-h:before {
    content: "\f07e";
  }
  .fa-bar-chart-o:before {
    content: "\f080";
  }
  .fa-twitter-square:before {
    content: "\f081";
  }
  .fa-facebook-square:before {
    content: "\f082";
  }
  .fa-camera-retro:before {
    content: "\f083";
  }
  .fa-key:before {
    content: "\f084";
  }
  .fa-gears:before,
  .fa-cogs:before {
    content: "\f085";
  }
  .fa-comments:before {
    content: "\f086";
  }
  .fa-thumbs-o-up:before {
    content: "\f087";
  }
  .fa-thumbs-o-down:before {
    content: "\f088";
  }
  .fa-star-half:before {
    content: "\f089";
  }
  .fa-heart-o:before {
    content: "\f08a";
  }
  .fa-sign-out:before {
    content: "\f08b";
  }
  .fa-linkedin-square:before {
    content: "\f08c";
  }
  .fa-thumb-tack:before {
    content: "\f08d";
  }
  .fa-external-link:before {
    content: "\f08e";
  }
  .fa-sign-in:before {
    content: "\f090";
  }
  .fa-trophy:before {
    content: "\f091";
  }
  .fa-github-square:before {
    content: "\f092";
  }
  .fa-upload:before {
    content: "\f093";
  }
  .fa-lemon-o:before {
    content: "\f094";
  }
  .fa-phone:before {
    content: "\f095";
  }
  .fa-square-o:before {
    content: "\f096";
  }
  .fa-bookmark-o:before {
    content: "\f097";
  }
  .fa-phone-square:before {
    content: "\f098";
  }
  .fa-twitter:before {
    content: "\f099";
  }
  .fa-facebook:before {
    content: "\f09a";
  }
  .fa-github:before {
    content: "\f09b";
  }
  .fa-unlock:before {
    content: "\f09c";
  }
  .fa-credit-card:before {
    content: "\f09d";
  }
  .fa-rss:before {
    content: "\f09e";
  }
  .fa-hdd-o:before {
    content: "\f0a0";
  }
  .fa-bullhorn:before {
    content: "\f0a1";
  }
  .fa-bell:before {
    content: "\f0f3";
  }
  .fa-certificate:before {
    content: "\f0a3";
  }
  .fa-hand-o-right:before {
    content: "\f0a4";
  }
  .fa-hand-o-left:before {
    content: "\f0a5";
  }
  .fa-hand-o-up:before {
    content: "\f0a6";
  }
  .fa-hand-o-down:before {
    content: "\f0a7";
  }
  .fa-arrow-circle-left:before {
    content: "\f0a8";
  }
  .fa-arrow-circle-right:before {
    content: "\f0a9";
  }
  .fa-arrow-circle-up:before {
    content: "\f0aa";
  }
  .fa-arrow-circle-down:before {
    content: "\f0ab";
  }
  .fa-globe:before {
    content: "\f0ac";
  }
  .fa-wrench:before {
    content: "\f0ad";
  }
  .fa-tasks:before {
    content: "\f0ae";
  }
  .fa-filter:before {
    content: "\f0b0";
  }
  .fa-briefcase:before {
    content: "\f0b1";
  }
  .fa-arrows-alt:before {
    content: "\f0b2";
  }
  .fa-group:before,
  .fa-users:before {
    content: "\f0c0";
  }
  .fa-chain:before,
  .fa-link:before {
    content: "\f0c1";
  }
  .fa-cloud:before {
    content: "\f0c2";
  }
  .fa-flask:before {
    content: "\f0c3";
  }
  .fa-cut:before,
  .fa-scissors:before {
    content: "\f0c4";
  }
  .fa-copy:before,
  .fa-files-o:before {
    content: "\f0c5";
  }
  .fa-paperclip:before {
    content: "\f0c6";
  }
  .fa-save:before,
  .fa-floppy-o:before {
    content: "\f0c7";
  }
  .fa-square:before {
    content: "\f0c8";
  }
  .fa-bars:before {
    content: "\f0c9";
  }
  .fa-list-ul:before {
    content: "\f0ca";
  }
  .fa-list-ol:before {
    content: "\f0cb";
  }
  .fa-strikethrough:before {
    content: "\f0cc";
  }
  .fa-underline:before {
    content: "\f0cd";
  }
  .fa-table:before {
    content: "\f0ce";
  }
  .fa-magic:before {
    content: "\f0d0";
  }
  .fa-truck:before {
    content: "\f0d1";
  }
  .fa-pinterest:before {
    content: "\f0d2";
  }
  .fa-pinterest-square:before {
    content: "\f0d3";
  }
  .fa-google-plus-square:before {
    content: "\f0d4";
  }
  .fa-google-plus:before {
    content: "\f0d5";
  }
  .fa-money:before {
    content: "\f0d6";
  }
  .fa-caret-down:before {
    content: "\f0d7";
  }
  .fa-caret-up:before {
    content: "\f0d8";
  }
  .fa-caret-left:before {
    content: "\f0d9";
  }
  .fa-caret-right:before {
    content: "\f0da";
  }
  .fa-columns:before {
    content: "\f0db";
  }
  .fa-unsorted:before,
  .fa-sort:before {
    content: "\f0dc";
  }
  .fa-sort-down:before,
  .fa-sort-asc:before {
    content: "\f0dd";
  }
  .fa-sort-up:before,
  .fa-sort-desc:before {
    content: "\f0de";
  }
  .fa-envelope:before {
    content: "\f0e0";
  }
  .fa-linkedin:before {
    content: "\f0e1";
  }
  .fa-rotate-left:before,
  .fa-undo:before {
    content: "\f0e2";
  }
  .fa-legal:before,
  .fa-gavel:before {
    content: "\f0e3";
  }
  .fa-dashboard:before,
  .fa-tachometer:before {
    content: "\f0e4";
  }
  .fa-comment-o:before {
    content: "\f0e5";
  }
  .fa-comments-o:before {
    content: "\f0e6";
  }
  .fa-flash:before,
  .fa-bolt:before {
    content: "\f0e7";
  }
  .fa-sitemap:before {
    content: "\f0e8";
  }
  .fa-umbrella:before {
    content: "\f0e9";
  }
  .fa-paste:before,
  .fa-clipboard:before {
    content: "\f0ea";
  }
  .fa-lightbulb-o:before {
    content: "\f0eb";
  }
  .fa-exchange:before {
    content: "\f0ec";
  }
  .fa-cloud-download:before {
    content: "\f0ed";
  }
  .fa-cloud-upload:before {
    content: "\f0ee";
  }
  .fa-user-md:before {
    content: "\f0f0";
  }
  .fa-stethoscope:before {
    content: "\f0f1";
  }
  .fa-suitcase:before {
    content: "\f0f2";
  }
  .fa-bell-o:before {
    content: "\f0a2";
  }
  .fa-coffee:before {
    content: "\f0f4";
  }
  .fa-cutlery:before {
    content: "\f0f5";
  }
  .fa-file-text-o:before {
    content: "\f0f6";
  }
  .fa-building-o:before {
    content: "\f0f7";
  }
  .fa-hospital-o:before {
    content: "\f0f8";
  }
  .fa-ambulance:before {
    content: "\f0f9";
  }
  .fa-medkit:before {
    content: "\f0fa";
  }
  .fa-fighter-jet:before {
    content: "\f0fb";
  }
  .fa-beer:before {
    content: "\f0fc";
  }
  .fa-h-square:before {
    content: "\f0fd";
  }
  .fa-plus-square:before {
    content: "\f0fe";
  }
  .fa-angle-double-left:before {
    content: "\f100";
  }
  .fa-angle-double-right:before {
    content: "\f101";
  }
  .fa-angle-double-up:before {
    content: "\f102";
  }
  .fa-angle-double-down:before {
    content: "\f103";
  }
  .fa-angle-left:before {
    content: "\f104";
  }
  .fa-angle-right:before {
    content: "\f105";
  }
  .fa-angle-up:before {
    content: "\f106";
  }
  .fa-angle-down:before {
    content: "\f107";
  }
  .fa-desktop:before {
    content: "\f108";
  }
  .fa-laptop:before {
    content: "\f109";
  }
  .fa-tablet:before {
    content: "\f10a";
  }
  .fa-mobile-phone:before,
  .fa-mobile:before {
    content: "\f10b";
  }
  .fa-circle-o:before {
    content: "\f10c";
  }
  .fa-quote-left:before {
    content: "\f10d";
  }
  .fa-quote-right:before {
    content: "\f10e";
  }
  .fa-spinner:before {
    content: "\f110";
  }
  .fa-circle:before {
    content: "\f111";
  }
  .fa-mail-reply:before,
  .fa-reply:before {
    content: "\f112";
  }
  .fa-github-alt:before {
    content: "\f113";
  }
  .fa-folder-o:before {
    content: "\f114";
  }
  .fa-folder-open-o:before {
    content: "\f115";
  }
  .fa-smile-o:before {
    content: "\f118";
  }
  .fa-frown-o:before {
    content: "\f119";
  }
  .fa-meh-o:before {
    content: "\f11a";
  }
  .fa-gamepad:before {
    content: "\f11b";
  }
  .fa-keyboard-o:before {
    content: "\f11c";
  }
  .fa-flag-o:before {
    content: "\f11d";
  }
  .fa-flag-checkered:before {
    content: "\f11e";
  }
  .fa-terminal:before {
    content: "\f120";
  }
  .fa-code:before {
    content: "\f121";
  }
  .fa-reply-all:before {
    content: "\f122";
  }
  .fa-mail-reply-all:before {
    content: "\f122";
  }
  .fa-star-half-empty:before,
  .fa-star-half-full:before,
  .fa-star-half-o:before {
    content: "\f123";
  }
  .fa-location-arrow:before {
    content: "\f124";
  }
  .fa-crop:before {
    content: "\f125";
  }
  .fa-code-fork:before {
    content: "\f126";
  }
  .fa-unlink:before,
  .fa-chain-broken:before {
    content: "\f127";
  }
  .fa-question:before {
    content: "\f128";
  }
  .fa-info:before {
    content: "\f129";
  }
  .fa-exclamation:before {
    content: "\f12a";
  }
  .fa-superscript:before {
    content: "\f12b";
  }
  .fa-subscript:before {
    content: "\f12c";
  }
  .fa-eraser:before {
    content: "\f12d";
  }
  .fa-puzzle-piece:before {
    content: "\f12e";
  }
  .fa-microphone:before {
    content: "\f130";
  }
  .fa-microphone-slash:before {
    content: "\f131";
  }
  .fa-shield:before {
    content: "\f132";
  }
  .fa-calendar-o:before {
    content: "\f133";
  }
  .fa-fire-extinguisher:before {
    content: "\f134";
  }
  .fa-rocket:before {
    content: "\f135";
  }
  .fa-maxcdn:before {
    content: "\f136";
  }
  .fa-chevron-circle-left:before {
    content: "\f137";
  }
  .fa-chevron-circle-right:before {
    content: "\f138";
  }
  .fa-chevron-circle-up:before {
    content: "\f139";
  }
  .fa-chevron-circle-down:before {
    content: "\f13a";
  }
  .fa-html5:before {
    content: "\f13b";
  }
  .fa-css3:before {
    content: "\f13c";
  }
  .fa-anchor:before {
    content: "\f13d";
  }
  .fa-unlock-alt:before {
    content: "\f13e";
  }
  .fa-bullseye:before {
    content: "\f140";
  }
  .fa-ellipsis-h:before {
    content: "\f141";
  }
  .fa-ellipsis-v:before {
    content: "\f142";
  }
  .fa-rss-square:before {
    content: "\f143";
  }
  .fa-play-circle:before {
    content: "\f144";
  }
  .fa-ticket:before {
    content: "\f145";
  }
  .fa-minus-square:before {
    content: "\f146";
  }
  .fa-minus-square-o:before {
    content: "\f147";
  }
  .fa-level-up:before {
    content: "\f148";
  }
  .fa-level-down:before {
    content: "\f149";
  }
  .fa-check-square:before {
    content: "\f14a";
  }
  .fa-pencil-square:before {
    content: "\f14b";
  }
  .fa-external-link-square:before {
    content: "\f14c";
  }
  .fa-share-square:before {
    content: "\f14d";
  }
  .fa-compass:before {
    content: "\f14e";
  }
  .fa-toggle-down:before,
  .fa-caret-square-o-down:before {
    content: "\f150";
  }
  .fa-toggle-up:before,
  .fa-caret-square-o-up:before {
    content: "\f151";
  }
  .fa-toggle-right:before,
  .fa-caret-square-o-right:before {
    content: "\f152";
  }
  .fa-euro:before,
  .fa-eur:before {
    content: "\f153";
  }
  .fa-gbp:before {
    content: "\f154";
  }
  .fa-dollar:before,
  .fa-usd:before {
    content: "\f155";
  }
  .fa-rupee:before,
  .fa-inr:before {
    content: "\f156";
  }
  .fa-cny:before,
  .fa-rmb:before,
  .fa-yen:before,
  .fa-jpy:before {
    content: "\f157";
  }
  .fa-ruble:before,
  .fa-rouble:before,
  .fa-rub:before {
    content: "\f158";
  }
  .fa-won:before,
  .fa-krw:before {
    content: "\f159";
  }
  .fa-bitcoin:before,
  .fa-btc:before {
    content: "\f15a";
  }
  .fa-file:before {
    content: "\f15b";
  }
  .fa-file-text:before {
    content: "\f15c";
  }
  .fa-sort-alpha-asc:before {
    content: "\f15d";
  }
  .fa-sort-alpha-desc:before {
    content: "\f15e";
  }
  .fa-sort-amount-asc:before {
    content: "\f160";
  }
  .fa-sort-amount-desc:before {
    content: "\f161";
  }
  .fa-sort-numeric-asc:before {
    content: "\f162";
  }
  .fa-sort-numeric-desc:before {
    content: "\f163";
  }
  .fa-thumbs-up:before {
    content: "\f164";
  }
  .fa-thumbs-down:before {
    content: "\f165";
  }
  .fa-youtube-square:before {
    content: "\f166";
  }
  .fa-youtube:before {
    content: "\f167";
  }
  .fa-xing:before {
    content: "\f168";
  }
  .fa-xing-square:before {
    content: "\f169";
  }
  .fa-youtube-play:before {
    content: "\f16a";
  }
  .fa-dropbox:before {
    content: "\f16b";
  }
  .fa-stack-overflow:before {
    content: "\f16c";
  }
  .fa-instagram:before {
    content: "\f16d";
  }
  .fa-flickr:before {
    content: "\f16e";
  }
  .fa-adn:before {
    content: "\f170";
  }
  .fa-bitbucket:before {
    content: "\f171";
  }
  .fa-bitbucket-square:before {
    content: "\f172";
  }
  .fa-tumblr:before {
    content: "\f173";
  }
  .fa-tumblr-square:before {
    content: "\f174";
  }
  .fa-long-arrow-down:before {
    content: "\f175";
  }
  .fa-long-arrow-up:before {
    content: "\f176";
  }
  .fa-long-arrow-left:before {
    content: "\f177";
  }
  .fa-long-arrow-right:before {
    content: "\f178";
  }
  .fa-apple:before {
    content: "\f179";
  }
  .fa-windows:before {
    content: "\f17a";
  }
  .fa-android:before {
    content: "\f17b";
  }
  .fa-linux:before {
    content: "\f17c";
  }
  .fa-dribbble:before {
    content: "\f17d";
  }
  .fa-skype:before {
    content: "\f17e";
  }
  .fa-foursquare:before {
    content: "\f180";
  }
  .fa-trello:before {
    content: "\f181";
  }
  .fa-female:before {
    content: "\f182";
  }
  .fa-male:before {
    content: "\f183";
  }
  .fa-gittip:before {
    content: "\f184";
  }
  .fa-sun-o:before {
    content: "\f185";
  }
  .fa-moon-o:before {
    content: "\f186";
  }
  .fa-archive:before {
    content: "\f187";
  }
  .fa-bug:before {
    content: "\f188";
  }
  .fa-vk:before {
    content: "\f189";
  }
  .fa-weibo:before {
    content: "\f18a";
  }
  .fa-renren:before {
    content: "\f18b";
  }
  .fa-pagelines:before {
    content: "\f18c";
  }
  .fa-stack-exchange:before {
    content: "\f18d";
  }
  .fa-arrow-circle-o-right:before {
    content: "\f18e";
  }
  .fa-arrow-circle-o-left:before {
    content: "\f190";
  }
  .fa-toggle-left:before,
  .fa-caret-square-o-left:before {
    content: "\f191";
  }
  .fa-dot-circle-o:before {
    content: "\f192";
  }
  .fa-wheelchair:before {
    content: "\f193";
  }
  .fa-vimeo-square:before {
    content: "\f194";
  }
  .fa-turkish-lira:before,
  .fa-try:before {
    content: "\f195";
  }
  .fa-plus-square-o:before {
    content: "\f196";
  }
  .user-list tbody td > img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
    border-radius: 10px !important;
}
